body {
    font-family: "Yu Mincho";
    overflow-y: scroll;
    user-select: none;
    font-size: 13.5px;
    margin-top: 20px;
    background-color: rgba(0,0,0,0.7);
    /* background-color: rgba(169,169,169,0.6); */
}

textarea {
    width: 300px;
    height: 100px;
    font-size: 12px;
}

body,th,td,pre,a{
    color:white;
}

pre {
    font-family: "Yu Mincho";
    font-size: 12px;
}

.previous, .next {
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-color: white;
    border-radius:5px;
}

nav a a button{
    border:none;
    background-color: black;
    color:white;
}

nav a a {
    float: right;
}

h3 {
    cursor: pointer;
}

.graph{
    width:1000px;
    height:500px;
}