body {
    font-family: "Yu Mincho";
    overflow-y: scroll;
    user-select: none;
    font-size: 13.5px;
    margin-top: 20px;
    /* background-color: rgba(169,169,169,0.6); */
}

textarea {
    width: 300px;
    height: 100px;
    font-size: 12px;
}

pre {
    font-family: "Yu Mincho";
    font-size: 12px;
}

.previous, .next {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

nav a a {
    float: right;
}

h3 {
    cursor: pointer;
}