{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-grid.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-grid.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-reboot.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-reboot.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-utilities.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-utilities.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-utilities.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-utilities.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'animate.min.css' %}">
    <title>作業管理アプリ</title>
</head>

<body class="container">
    <div id="app" class="animate__animated animate__lightSpeedInLeft">
        <nav>
            <router-link to="/task/1">作業一覧</router-link> |
            <router-link to="/activity/1">活動の履歴</router-link> |
            <router-link to="/classification/1">種別一覧</router-link> |
            <router-link to="/graph">グラフ表示</router-link>
        </nav>
        <hr>
        <router-view></router-view>
    </div>
    <!--11111111111111111111111111111111111111111111111111111111111111111111111111111111111111-->
    <script type="text/x-template" id="task">
        <section>
            <h3 @click="FC">作業一覧</h3>
            <table class="table" v-if="FORM">
                <thead>
                    <tr>
                        <th scope="col" v-for="i in ['項','項目','内容']">[[ i ]]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row" v-for="i in [1,'作業']">[[ i ]]</td>
                        <td scope="row"><input v-model="task" type="text"></td>
                    </tr>
                    <tr>
                        <td scope="row" v-for="i in [2,'優先度']">[[ i ]]</td>
                        <td scope="row">
                            <select v-model="prior">
                                <option disabled selected>選択してください</option>
                                <option v-for="i in ['高い','普通','低い','メモ','済み']">[[ i ]]</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" v-for="i in [3,'種別']">[[ i ]]</td>
                        <td scope="row">
                            <select v-model="genre">
                                <option disabled selected>選択してください</option>
                                <option v-for="g in genreBox">[[ g[0] ]]</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" v-for="i in [4,'日付']">[[ i ]]</td>
                        <td scope="row"><input v-model="date" type="text"></td>
                    </tr>
                    <tr v-if="ONOFF">
                        <td scope="row" v-for="i in ['','']"></td>
                        <td scope="row"><button @click="axiosINSERT">登録</button></td>
                    </tr>
                    <tr v-else>
                        <td scope="row" v-for="i in ['','']"></td>
                        <td scope="row"><button @click="axiosUPDATE">更新</button></td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <a>
                    優先度：
                    <select v-model="prior1">
                        <option v-for="m in ['ALL','★','●','▲','済']">[[ m ]]</option>
                    </select>
                </a>
                <a>
                    <a v-if="mx == 0">
                        1/1
                    </a>
                    <a v-else>
                        <img v-if="this.$route.params.page != 1" src="{% static 'arrow-left-square-fill.svg' %}" @click="PP(-1)" class="previous"/>
                        [[ this.$route.params.page ]]/[[ mx ]]
                        <img v-if="this.$route.params.page != mx" src="{% static 'arrow-right-square-fill.svg' %}" @click="PP(1)" class="next"/>
                    </a>
                </a>
            </nav>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">項</th>
                        <th scope="col" class="collapse">ID</th>
                        <th scope="col" v-for="i in ['作業','優先度','活動','種別','更新','削除','日付']">[[ i ]]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="b,index in box">
                        <td scope="row">[[ index+1 ]]</td>
                        <td scope="row" class="collapse">[[ b[0] ]]</td>
                        <td scope="row"><router-link :to="`/activity/${b[1]}/1`">[[ b[1] ]]</router-link></td>
                        <td scope="row" v-if="b[2] == 1">　★</td>
                        <td scope="row" v-else-if="b[2] == 2">　●</td>
                        <td scope="row" v-else-if="b[2] == 3">　▲</td>
                        <td scope="row" v-else-if="b[2] == 4">　―</td>
                        <td scope="row" v-else-if="b[2] == 5">　済</td>
                        <td scope="row">[[ pst(b[3],3) ]]</td>
                        <td scope="row">[[ b[4] ]]</td>
                        <td scope="row"><button @click="axiosSELECT3( b[0] )">更新</button></td>
                        <td scope="row"><button @click="axiosDELETE( b[0] )">削除</button></td>
                        <td scope="row">[[ b[5] ]]</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </script>
    <!--11111111111111111111111111111111111111111111111111111111111111111111111111111111111111-->
    <script type="text/x-template" id="activity1">
        <section>
            <h3 @click="FC">活動の履歴</h3>
            <table class="table" v-if="FORM">
                <thead>
                    <tr>
                        <th scope="col">項</th>
                        <th scope="col">項目</th>
                        <th scope="col">内容</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row" v-for="i in [1,'作業']">[[ i ]]</td>
                        <td scope="row">
                            <select  v-model="task1">
                                <option disabled selected>選択してください</option>
                                <option v-for="t in taskBox">[[ t[0] ]]</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" v-for="i in [2,'本日']">[[ i ]]</td>
                        <td scope="row"><textarea v-model="today"></textarea></td>
                    </tr>
                    <tr>
                        <td scope="row" v-for="i in [3,'NEXT']">[[ i ]]</td>
                        <td scope="row"><textarea v-model="next"></textarea></td>
                    </tr>
                    <tr>
                        <td scope="row" v-for="i in [4,'日付']">[[ i ]]</td>
                        <td scope="row"><input v-model="date" type="text"></td>
                    </tr>
                    <tr v-if="ONOFF">
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row"><button @click="axiosINSERT">登録</button></td>
                    </tr>
                    <tr v-else>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row"><button @click="axiosUPDATE">更新</button></td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <a>
                    作業：
                    <select v-model="task2" @change="axiosSELECT1">
                        <option selected>ALL</option>
                        <option v-for="t in taskBox">[[ t[0] ]]</option>
                    </select>
                </a> |
                <a>
                    表示数：
                    <select v-model="lim" @change="axiosSELECT1">
                        <option v-for="l in limBox">[[ l ]]</option>
                    </select>
                </a>
                <a>
                    <a v-if="mx == 0">
                        1/1
                    </a>
                    <a v-else>
                        <img v-if="this.$route.params.page != 1" src="{% static 'arrow-left-square-fill.svg' %}" @click="PP(-1)" class="previous"/>
                        [[ this.$route.params.page ]]/[[ mx ]]
                        <img v-if="this.$route.params.page != mx" src="{% static 'arrow-right-square-fill.svg' %}" @click="PP(1)" class="next"/>
                    </a>
                </a>
            </nav>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">項</th>
                        <th scope="col" class="collapse">ID</th>
                        <th scope="col" v-for="i in ['日付','作業','本日','NEXT','更新','削除']">[[ i ]]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="b,index in activityBox">
                        <td scope="row">[[ index+1 ]]</td>
                        <td scope="row" class="collapse">[[ b[0] ]]</td>
                        <td scope="row">[[ b[1] ]]</td>
                        <td scope="row">[[ b[2] ]]</td>
                        <td scope="row"><pre>[[ b[3] ]]</pre></td>
                        <td scope="row"><pre>[[ b[4] ]]</pre></td>
                        <td scope="row"><button @click="axiosSELECT3( b[0] )">更新</button></td>
                        <td scope="row"><button @click="axiosDELETE( b[0] )">削除</button></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </script>
    <!--11111111111111111111111111111111111111111111111111111111111111111111111111111111111111-->
    <script type="text/x-template" id="activity2">
        <section>
            <h3 @click="FC">[[ task ]]</h3>
            <table class="table" v-if="FORM">
                <thead>
                    <tr>
                        <th scope="col" v-for="i in ['項','項目','内容']">[[ i ]]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row" v-for="i in [1,'作業']">[[ i ]]</td>
                        <td scope="row">
                            <select  v-model="task">
                                <option selected>[[ task ]]</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" v-for="i in [2,'本日']">[[ i ]]</td>
                        <td scope="row"><textarea v-model="today"></textarea></td>
                    </tr>
                    <tr>
                        <td scope="row" v-for="i in [3,'NEXT']">[[ i ]]</td>
                        <td scope="row"><textarea v-model="next"></textarea></td>
                    </tr>
                    <tr>
                        <td scope="row" v-for="i in [4,'日付']">[[ i ]]</td>
                        <td scope="row"><input v-model="date" type="text"></td>
                    </tr>
                    <tr v-if="ONOFF">
                        <td scope="row" v-for="i in ['','']">[[ i ]]</td>
                        <td scope="row"><button @click="axiosINSERT">登録</button></td>
                    </tr>
                    <tr v-else>
                        <td scope="row" v-for="i in ['','']">[[ i ]]</td>
                        <td scope="row"><button @click="axiosUPDATE">更新</button></td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <a>
                    表示数：
                    <select v-model="lim" @change="axiosSELECT1">
                        <option v-for="l in limBox">[[ l ]]</option>
                    </select>
                </a>
                <a>
                    <a v-if="mx == 0">
                        1/1
                    </a>
                    <a v-else>
                        <img v-if="this.$route.params.page != 1" src="{% static 'arrow-left-square-fill.svg' %}" @click="PP(-1)" class="previous"/>
                        [[ this.$route.params.page ]]/[[ mx ]]
                        <img v-if="this.$route.params.page != mx" src="{% static 'arrow-right-square-fill.svg' %}" @click="PP(1)" class="next"/>
                    </a>
                </a>
            </nav>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">項</th>
                        <th scope="col" class="collapse">ID</th>
                        <th scope="col">日付</th>
                        <th scope="col" class="collapse">作業</th>
                        <th scope="col" v-for="i in ['本日','NEXT','更新','削除']">[[ i ]]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="b,index in activityBox">
                        <td scope="row">[[ index+1 ]]</td>
                        <td scope="row" class="collapse">[[ b[0] ]]</td>
                        <td scope="row">[[ b[1] ]]</td>
                        <td scope="row" class="collapse">[[ b[2] ]]</td>
                        <td scope="row"><pre>[[ b[3] ]]</pre></td>
                        <td scope="row"><pre>[[ b[4] ]]</pre></td>
                        <td scope="row"><button @click="axiosSELECT3( b[0] )">更新</button></td>
                        <td scope="row"><button @click="axiosDELETE( b[0] )">削除</button></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </script>
    <!--11111111111111111111111111111111111111111111111111111111111111111111111111111111111111-->
    <script type="text/x-template" id="classification">
        <section>
            <h3 @click="FC">種別一覧</h3>
            <table class="table" v-if="FORM">
                <thead>
                    <tr>
                        <th scope="col" v-for="i in ['項','項目','内容']">[[ i ]]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col" v-for="i in [1,'種別']">[[ i ]]</th>
                        <td scope="row"><input v-model="genre" type="text"></td>
                    </tr>
                    <tr>
                        <th scope="col" v-for="i in [2,'日付']">[[ i ]]</th>
                        <td scope="row"><input v-model="date" type="text"></td>
                    </tr>
                    <tr v-if="ONOFF">
                        <th scope="col" v-for="i in ['','']">[[ i ]]</th>
                        <td scope="row"><button @click="axiosINSERT">登録</button></td>
                    </tr>
                    <tr v-else>
                        <th scope="col" v-for="i in ['','']">[[ i ]]</th>
                        <td scope="row"><button @click="axiosUPDATE">更新</button></td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <a>
                    表示数：
                    <select v-model="lim" @change="axiosSELECT1(1)">
                        <option v-for="l in limBox">[[ l ]]</option>
                    </select>
                </a>
                <a>
                    <a v-if="mx == 0">
                        1/1
                    </a>
                    <a v-else>
                        <img v-if="this.$route.params.page != 1" src="{% static 'arrow-left-square-fill.svg' %}" @click="PP(-1)" class="previous"/>
                        [[ this.$route.params.page ]]/[[ mx ]]
                        <img v-if="this.$route.params.page != mx" src="{% static 'arrow-right-square-fill.svg' %}" @click="PP(1)" class="next"/>
                    </a>
                </a>
            </nav>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">項</th>
                        <th scope="col" class="collapse">ID</th>
                        <th scope="col" v-for="i in ['種別','活動/作業','更新','削除','日付']">[[ i ]]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="b,index in box">
                        <td scope="row">[[ index+1 ]]</td>
                        <td scope="row" class="collapse">[[ b[0] ]]</td>
                        <td scope="row">[[ b[1] ]]</td>
                        <td scope="row">[[ pst(b[ 4 ],3) ]] / [[ pst(b[ 3 ],3) ]]</td>
                        <td scope="row"><button @click="axiosSELECT2( b[0] )">更新</button></td>
                        <td scope="row"><button @click="axiosDELETE( b[0] )">削除</button></td>
                        <td scope="row">[[ b[2] ]]</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </script>
    <!--11111111111111111111111111111111111111111111111111111111111111111111111111111111111111-->
    <script type="text/x-template" id="graph">
        <section>
            <h3 @click="Axios" >グラフ表示</h3>
            <img src="{% static 'output.png' %}" class="graph"/>
        </section>
    </script>


    <script src="{% static 'vue.js' %}"></script>
    <script src="{% static 'vue-router.js' %}"></script>
    <script src="{% static 'axios.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
</body>

</html>